[submodule ".emacs.d/site-lisp/emacs-color-theme-solarized"]
	path = .emacs.d/site-lisp/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/site-lisp/emacs-powerline"]
	path = .emacs.d/site-lisp/emacs-powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
[submodule ".emacs.d/site-lisp/auto-complete"]
	path = .emacs.d/site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/site-lisp/popup-el"]
	path = .emacs.d/site-lisp/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/site-lisp/twittering-mode"]
	path = .emacs.d/site-lisp/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule ".emacs.d/site-lisp/vim-modeline"]
	path = .emacs.d/site-lisp/vim-modeline
	url = https://github.com/cinsk/emacs-vim-modeline.git
