[submodule ".emacs.d/site-lisp/web-mode"]
	path = .emacs.d/site-lisp/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule ".emacs.d/site-lisp/emmet-mode"]
	path = .emacs.d/site-lisp/emmet-mode
	url = https://github.com/smihica/emmet-mode.git
[submodule ".emacs.d/site-lisp/powerline"]
	path = .emacs.d/site-lisp/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule ".emacs.d/site-lisp/markdown-mode"]
	path = .emacs.d/site-lisp/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule ".emacs.d/site-lisp/rust-mode"]
	path = .emacs.d/site-lisp/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule ".emacs.d/site-lisp/org-reveal"]
	path = .emacs.d/site-lisp/org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule ".emacs.d/site-lisp/flycheck"]
	path = .emacs.d/site-lisp/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule ".emacs.d/site-lisp/emacs-emojify"]
	path = .emacs.d/site-lisp/emacs-emojify
	url = https://github.com/iqbalansari/emacs-emojify.git
[submodule ".emacs.d/site-lisp/ht.el"]
	path = .emacs.d/site-lisp/ht.el
	url = https://github.com/Wilfred/ht.el.git
[submodule ".emacs.d/site-lisp/dash.el"]
	path = .emacs.d/site-lisp/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/site-lisp/fringe-helper.el"]
	path = .emacs.d/site-lisp/fringe-helper.el
	url = https://github.com/nschum/fringe-helper.el.git
[submodule ".emacs.d/site-lisp/emacs-git-gutter"]
	path = .emacs.d/site-lisp/emacs-git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
[submodule ".emacs.d/site-lisp/emacs-neotree"]
	path = .emacs.d/site-lisp/emacs-neotree
	url = https://github.com/jaypei/emacs-neotree.git
	branch = dev
[submodule ".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".emacs.d/site-lisp/s.el"]
	path = .emacs.d/site-lisp/s.el
	url = https://github.com/magnars/s.el
[submodule ".emacs.d/site-lisp/ag.el"]
	path = .emacs.d/site-lisp/ag.el
	url = https://github.com/Wilfred/ag.el
[submodule ".emacs.d/site-lisp/yaml-mode"]
	path = .emacs.d/site-lisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule ".emacs.d/site-lisp/go-mode.el"]
	path = .emacs.d/site-lisp/go-mode.el
	url = https://github.com/dominikh/go-mode.el
[submodule ".emacs.d/site-lisp/org-mode"]
	path = .emacs.d/site-lisp/org-mode
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule ".emacs.d/site-lisp/emacs-terraform-mode"]
	path = .emacs.d/site-lisp/emacs-terraform-mode
	url = https://github.com/syohex/emacs-terraform-mode.git
[submodule ".emacs.d/site-lisp/emacs-hcl-mode"]
	path = .emacs.d/site-lisp/emacs-hcl-mode
	url = https://github.com/syohex/emacs-hcl-mode.git
[submodule ".emacs.d/site-lisp/editorconfig-emacs"]
	path = .emacs.d/site-lisp/editorconfig-emacs
	url = https://github.com/editorconfig/editorconfig-emacs
[submodule ".emacs.d/site-lisp/emacs-doom-themes"]
	path = .emacs.d/site-lisp/emacs-doom-themes
	url = https://github.com/hlissner/emacs-doom-themes.git
[submodule ".emacs.d/site-lisp/emacs-memoize"]
	path = .emacs.d/site-lisp/emacs-memoize
	url = https://github.com/skeeto/emacs-memoize.git
[submodule ".emacs.d/site-lisp/spaceline"]
	path = .emacs.d/site-lisp/spaceline
	url = https://github.com/TheBB/spaceline.git
[submodule ".emacs.d/site-lisp/all-the-icons.el"]
	path = .emacs.d/site-lisp/all-the-icons.el
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule ".emacs.d/site-lisp/spaceline-all-the-icons.el"]
	path = .emacs.d/site-lisp/spaceline-all-the-icons.el
	url = https://github.com/domtronn/spaceline-all-the-icons.el.git
[submodule ".emacs.d/site-lisp/projectile"]
	path = .emacs.d/site-lisp/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule ".emacs.d/site-lisp/golden-ratio.el"]
	path = .emacs.d/site-lisp/golden-ratio.el
	url = https://github.com/roman/golden-ratio.el
[submodule ".emacs.d/site-lisp/emacs-htmlize"]
	path = .emacs.d/site-lisp/emacs-htmlize
	url = https://github.com/hniksic/emacs-htmlize.git
[submodule ".emacs.d/site-lisp/dockerfile-mode"]
	path = .emacs.d/site-lisp/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule ".emacs.d/site-lisp/pkg-info.el"]
	path = .emacs.d/site-lisp/pkg-info.el
	url = https://github.com/lunaryorn/pkg-info.el
[submodule ".emacs.d/site-lisp/epl"]
	path = .emacs.d/site-lisp/epl
	url = https://github.com/cask/epl.git
[submodule ".emacs.d/site-lisp/company-mode"]
	path = .emacs.d/site-lisp/company-mode
	url = https://github.com/company-mode/company-mode.git
